<div class="container">
  <div *ngFor="let field of fields">
    <label [for]="field.id">Label for {{ field.type }}:</label>
      <ng-container  *ngIf='field.type=="radio"'>
        <input type="{{ field.type }}"[id]="field.id" value="{{field.value}}" name="{{field.id}}"  (change)="onChanged($event)">
      </ng-container>
      <ng-container  *ngIf='field.type=="text"'>
        <input type="{{field.type}}" [id]="field.id" [disabled]='!isOpenList[field.id]' (change)="onChanged($event)">
      </ng-container>
      <ng-container  *ngIf='field.type=="checkbox"'>
        <input type="{{field.type}}" [id]="field.id" [value]="field.id" (change)="onChanged($event)">
      </ng-container>
      <ng-container  *ngIf='field.type=="number"'>
        <input type="{{field.type}}" [id]="field.id" (change)="onChanged($event)">
      </ng-container>
  </div>
  <button mat-raised-button color="primary" [disabled]='isDesibledSubmit' (click)="onSubmit()">Submit</button>
</div>